[workspace]
resolver = "2"
members = [
  "crates/hc_seed_bundle",
  "crates/lair_keystore",
  "crates/lair_keystore_api",
]

[patch.crates-io]
#one_err = { path = "../one_err" }
sodoken = { path = "../sodoken/crates/sodoken" }
