name: Release Build
on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main
jobs:
  release-build:
    name: Release Build
    runs-on: ${{ matrix.os }}
    strategy:
      fail-fast: false
      matrix:
        os: [
          ubuntu-latest,
          macos-latest,
          windows-latest,
        ]
        toolchain: [
          stable,
          "1.66.1", # Check the version used by Holochain
        ]
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Toolchain
        uses: actions-rs/toolchain@v1
        with:
          toolchain: ${{ matrix.toolchain }}

      - name: Install vcpkg Packages
        if: matrix.os == 'windows-latest'
        uses: johnwason/vcpkg-action@v6
        id: vcpkg
        with:
          pkgs: libsodium
          triplet: x64-windows-release
          token: ${{ github.token }}
          github-binarycache: true

      - name: Make Release
        if: matrix.os == 'windows-latest'
        run: |-
          $env:SODIUM_LIB_DIR="$(pwd)\vcpkg\packages\libsodium_x64-windows\lib"
          make release

      - name: Make Release
        run: make release
