name: Static Analysis
on:
  push:
    branches:
      - main
      - release-0.4.x
  pull_request:
    branches:
      - main
      - release-0.4.x
jobs:
  static-analysis:
    name: Static Analysis
    runs-on: ${{ matrix.os }}
    strategy:
      fail-fast: false
      matrix:
        os: [
          ubuntu-latest,
        ]
        toolchain: [
          stable,
          "1.77.2", # Check the version used by Holochain
        ]
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Toolchain
        uses: actions-rs/toolchain@v1
        with:
          toolchain: ${{ matrix.toolchain }}
          components: rustfmt, clippy

      - name: Cargo Install Readme
        uses: actions-rs/cargo@v1
        with:
          command: install
          args: cargo-readme

      - name: Make Static
        run: CHK_SQL_FMT=1 make static
